.item-list-container {
    padding: 2rem;
    text-align: center;
    background-color: #fffefc;
    min-height: 80vh;
}

.item-list-container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #ffb347; /* tono cálido para el título */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    font-weight: 600;
    letter-spacing: 1px;
}

.item-list-container .item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-items: center;
}

.item-list-container p {
    color: #444;
    font-size: 1rem;
}