.main-layout {
    min-height: calc(100vh - 80px); /* deja espacio para el header */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-content {
    width: 100%;
}
